body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
    transition: 2s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.header{
    /*margin-top: 2.5vh;*/
    width: auto;
    height: 95vh;
    background-color: #00499C;
    display: flex;
    align-items: center;
}

.bigWord{
    font-size: 555pt;
    color: white;
    font-family: 'Teko', sans-serif;
    padding: 20px;
}

a {
    color: #00499C;
}

a:hover{
    color: rgb(0, 52, 112);
}

#personal{
    font-family: 'Montserrat', sans-serif;    
    color: white;
    padding: 20px 30px 20px 30px;
    font-size: 12pt;
    border: white;
}


.showcase{
    margin: 3% 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vw;
    grid-template-areas: 
    "pic txt txt";
    align-items: center;
}

.gridImg{
    display: grid;
    grid-area: pic;
}

.gridText{
    padding-left: 20px;
    display: grid;
    grid-area: txt;
}

.showcase2{
    margin: 3% 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vw;
    grid-template-areas: 
    "txt2 txt2 pic2";
    align-items: center;
}

.gridImg2{
    display: grid;
    grid-area: pic2;
}

.gridText2{
    padding-left: 20px;
    display: grid;
    grid-area: txt2;
}

.showHeading{
    color: #00499C;
    font-weight: bold;
    font-size: 22pt;
    font-family: 'Teko', sans-serif;
}

.showHiFi{
    text-align: center;
    max-width: 500px;
    width: 30vw;
}

hr {
    display: flex;
    justify-items: flex-start;
    height: 1px;
    border: 0;
    border-top: 2px solid #00499C;
    margin: 1em 0;
    padding: 0;
    width: 80vw;
}

#move {
    display: flex;
    justify-content: flex-end;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    height: auto;
    padding: 20px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: rgb(204, 204, 204);
    text-decoration: none;
}