body {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    font-size: 16pt;
    background-color: white;
}

strong {
    font-weight: bolder;
    color: #000000;
}

.navBar{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    height: 50px;
    width: auto;
    font-size: 16pt;
}

.nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1a1a1a;
    padding: 0 20px 0 20px;
}

.nav:hover{
    color: #292929;
    text-decoration-line: underline;
}

.navPage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    padding: 0 20px 0 20px;
    font-weight: bold;
}

.navPage:hover{
    color: rgb(0, 0, 0);
}

#navLogo{
    font-family: 'Teko', sans-serif;
    font-size: 22pt;
    color: #003875;
    padding: 0 10px 10px 10px;
    margin-left: 10px;
    font-weight: bold;
}

#navLogo:hover{
    text-decoration: none;
}

.header{
    display: flex;
    width: auto;
    height: 40vh;
    background-image: linear-gradient(to top right, #0e61a5, #257dc5, #3B94DB, #e7f4ff);
    align-items: center;
    justify-content: center;
}

.buttonList{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bigWord{
    display: flex;
    width: 40vw;
    margin: 0 10vw 0 5vw;
}

.button{
    position: relative;
    margin: 0 auto;
    padding: .8em 1.8em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #2b2b2b;
    border: solid 1px #2b2b2b;
    transform: all .2s ease-in-out;
    border-radius: 50px;
}

.button:hover {
    transform: scale(1.1);
    text-decoration: none;
}

.personal{
    font-size: 2vh;
    text-align: center;
    letter-spacing: 2px;
}

a {
    color: #2b2b2b;
}

a:hover{
    color: #585858;
    text-decoration: none;
}

#invision{
    background-color: #FC3869;
    color: white;
    font-size: 14pt;
}

#pres{
    background-color: rgb(226, 102, 0);
    color: white;
    font-size: 14pt;
}

#contact{
    background-color: #00499C;
    color: white;
    font-size: 14pt;
}

a {
    color: #0A559D;
}

a:hover{
    color: rgb(0, 52, 112);
    text-decoration: none;
}

#personal{
    font-family: 'Montserrat', sans-serif;    
    color: white;
    padding: 0px 30px 0px 30px;
    font-size: 17pt;
    border: white;
}

.showcase{
    height: auto;
    margin: 20px 10vw 20px 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "pic txt txt";
    align-items: center;
}

.gridImg{
    display: grid;
    grid-area: pic;
}

.gridText{
    padding-left: 20px;
    display: grid;
    grid-area: txt;
}

.showHeading{
    display: inline;
    color: #257dc5;
    font-weight: bold;
    font-size: 28pt;
    font-family: 'Teko', sans-serif;
}

.showHiFi{
    text-align: center;
    max-width: 500px;
    max-height: 75vh;
    width: 27vw;
    object-fit: cover;
    object-position: 50% 0;
    margin: 0 50px 0 0;
}

#userPersona{
    object-fit: contain;
    width: 300px;
    height: 80vh;
}

.showData{
    text-align: center;
    max-width: 90vw;
    max-height: 75vh;
    object-fit: cover;
    object-position: 50% 0;
    align-items: center;
    margin: 3% 0 3% 0;
}

hr {
    display: flex;
    justify-items: flex-start;
    height: 1px;
    border: 0;
    border-top: 2px solid #3B94DB;
    margin: 1em 0;
    padding: 0;
    width: 80vw;
}

.move {
    display: flex;
    justify-content: flex-end;
}

.info{
    display: grid;
    margin: auto;
    font-size: 16pt;
    width: auto;
    grid-area: txt;
}

.col{
    max-width: 60vw;
    padding: 0 0 0 0;
}

.dataCol{
    display: flex;
    flex-direction: row;
    max-width: 60vw;
    padding: 0 10px 0 0;
    align-items: center;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 5% 5%;
}

.dataInfo{
    display: flex;
    align-content: center;
    justify-content: center;
}

.fidelityImg{
    display: flex;
    object-fit: contain;
    max-height: auto;
    width: auto;
    max-width: 70vw;
    margin: 10px 0 10px 0;
    border: rgb(145, 145, 145) 3px solid;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    height: auto;
    padding: 16px;
    background-color: rgb(206, 206, 206);
    color: #2b2b2b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer a{
    color: #2b2b2b;
}

#footer a:hover{
    color: #636363;
    text-decoration: none;
}

.web{
    display: none;
}


@media only screen and (max-width: 750px) {

    body {
        font-family: 'Montserrat', sans-serif;
        color: #2b2b2b;
        font-size: 14pt;
    }
    
    strong {
        font-weight: bolder;
        color: #000000;
    }
    
    .navBar{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: whitesmoke;
        height: 40px;
        width: auto;
        font-size: 12pt;
        display: none;
    }
    
    .nav{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #2b2b2b;
        padding: 0 20px 0 20px;
    }
    
    .nav:hover{
        color: #2b2b2b;
        text-decoration-line: underline;
    }
    
    .navPage{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #2b2b2b;
        padding: 0 20px 0 20px;
        font-weight: bold;
    }
    
    .navPage:hover{
        color: #2b2b2b;
    }
    
    #navLogo{
        font-family: 'Teko', sans-serif;
        font-size: 20pt;
        color: #202020;
        padding: 0 10px 10px 10px;
        padding-left: 10px;
        font-weight: bold;
    }
    
    #navLogo:hover{
        text-decoration: none;
    }
    
    .header{
        background-image: linear-gradient(to top right, #0a68b4,#9bc9f0);
        width: auto;
        height: 30vh;
        align-content: center;
        justify-content: center;
    }
    
    .bigWord{
        width: 80vw;
        margin: auto;
    }
    
    .buttonList{
        display: none
    }

    .button{
        text-align: center;
        font-weight: bolder;
        font-size: medium;
        width: 250px;
        border: #ffffff73 2px solid;
    }
    
    
    #invision{
        background-color: #FC3869;
        color: white;
    }
    
    #pres{
        background-color: rgb(226, 102, 0);
        color: white;
    }
    
    #contact{
        background-color: #00499C;
        color: white;
    }
    
    a {
        color: #0A559D;
    }
    
    a:hover{
        color: rgb(0, 52, 112);
        text-decoration: none;
    }
    
    #personal{
        font-family: 'Montserrat', sans-serif;    
        color: white;
        padding: 0px 30px 0px 30px;
        font-size: 17pt;
        border: white;
    }
    
    .showcase{
        height: auto;
        margin: 30px 0 30px 0;
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "pic"
        "txt";
    }

    .topImg{
        width: 80vw !important;
        display: block;
    }

    .gridImg{
        display: grid;
        grid-area: pic;
    }
    
    .gridText{
        padding-left: 20px;
        display: grid;
        grid-area: txt;
    }
    
    .showHeading{
        color: #3B94DB;
        font-weight: bold;
        font-size: 28pt;
        margin: 10px 0 10px 0;
        font-family: 'Teko', sans-serif;
    }
    
    .showHiFi{
        display: block !important;
        width: 80vw;
        margin: auto !important;
    }
    
    #userPersona{
        display: block;
        object-fit: contain;
        width: 300px;
        height: 80vh;
        margin: auto;
    }
    
    .showData{
        object-fit: cover;
        object-position: 50% 0;
        align-items: center;
        margin: 3% 0 3% 0;
    }
    
    hr {
        display: flex;
        justify-items: flex-start;
        height: 1px;
        border: 0;
        border-top: 2px solid #3B94DB;
        margin: 1em 0;
        padding: 0;
        width: 80vw;
    }
    
    .move {
        display: flex;
        justify-content: flex-end;
    }
    
    .info{
        justify-items: center;
    }
    
    .col{
        max-width: 80vw;
        padding: 0;
    }
    
    .data{
        justify-content: center;
    }
    
    
    .fidelityImg{
        display: block;
        margin: auto;
        object-fit: contain;
        height: auto;
        width: auto;
        margin: 10px 0 10px 0;
        border: rgb(145, 145, 145) 3px solid;
    }

    
    #footer{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px;
        background-color: rgb(75, 75, 75);
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #footer{
        display: flex;
        justify-content: space-around;
        align-content: center;
        justify-items: center;
        height: auto;
        padding: 16px;
        background-color: rgb(206, 206, 206);
        color: #2b2b2b;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #footer a{
        color: #2b2b2b;
    }

    .footerMobile{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .web{
        display: unset;
    }


    /* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #2b2b2b;
  }
  
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  .main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
      overflow-y: scroll;
      overflow-x: visible;
      transition: left 0.3s ease,
                        box-shadow 0.3s ease;
      z-index: 999;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }
  
  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: underline;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /*
   On small devices, allow it to toggle...
  */
  /*
   :target for non-JavaScript
   [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
  */
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  }
  
  .main-menu:target .menu-close,
  .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }
  
  .main-menu:target ul,
  .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }
  
  /* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
  }
  
  @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
      position: fixed;
    }
  }
  
  /*
   Larger screen styling
   Horizontal menu
  */
  @media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }
    
    /* Undo positioning of off-canvas menu */
    .main-menu {
      position: relative;
          left: auto;
          top: auto;
          height: auto;
      display: block;
    }
    
    .main-menu ul {
      display: flex;
      
      /* Undo off-canvas styling */
      padding: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      height: auto;
      width: auto;
      background: none;
    }
    
    .main-menu a {
      color: #06c;
      border: 0 !important; /* Remove borders from off-canvas styling */
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none; /* Remove background from off-canvas styling */
      color: #c00;
    }
  }

}