body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navBar{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 100vh;
}

.nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(51, 100, 155);
    padding: 0 20px 0 20px;
}

.navPage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00499C;
    padding: 0 20px 0 20px;
    font-weight: bold;
}

#navLogo{
    font-family: 'Teko', sans-serif;
    font-size: 22pt;
    color: #00499C;
    padding: 0 10px 10px 10px;
    margin-left: 10px;
    font-weight: bold;
}
    
#navLogo:hover{
    text-decoration: none;
}

a:hover{
    color: rgb(0, 52, 112);
    text-decoration: none;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    height: auto;
    padding: 20px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: rgb(204, 204, 204);
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 8px; /* Add a top margin */
    margin-bottom: 8px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #00499C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(0, 52, 112);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }