body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navBar{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 100vh;
}

.nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(51, 100, 155);
    padding: 0 20px 0 20px;
}

.navPage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0A559D;
    padding: 0 20px 0 20px;
    font-weight: bold;
}

#navLogo{
    font-family: 'Teko', sans-serif;
    font-size: 22pt;
    color: #0A559D;
    padding: 0 10px 10px 10px;
    margin-left: 10px;
    font-weight: bold;
}

#navLogo:hover{
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 90vh;
    background-color: #0A559D;
    display: flex;
    align-items: center;
}

.bigWord{
    font-size: 55pt;
    color: white;
    font-family: 'Teko', sans-serif;
    padding: 20px;
}

a {
    color: #0A559D;
}

a:hover{
    color: #0A559D;
    text-decoration: none;
}

#personal{
    font-family: 'Montserrat', sans-serif;    
    color: white;
    padding: 20px 30px 20px 30px;
    font-size: 12pt;
    border: white;
}


.showcase{
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vw;
    grid-template-areas: 
    "pic txt txt";
    align-items: center;
}

.gridImg{
    display: grid;
    grid-area: pic;
}

.gridText{
    padding-left: 20px;
    display: grid;
    grid-area: txt;
}

.showcase2{
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vw;
    grid-template-areas: 
    "txt2 txt2 pic2";
    align-items: center;
}

.gridImg2{
    display: grid;
    grid-area: pic2;
}

.gridText2{
    padding-left: 20px;
    display: grid;
    grid-area: txt2;
}

.showHeading{
    color: #0A559D;
    font-weight: bold;
    font-size: 22pt;
    font-family: 'Teko', sans-serif;
}

.showHiFi{
    text-align: center;
    max-width: 500px;
    max-height: 300px;
    object-fit: cover;
}

hr {
    display: flex;
    justify-items: flex-start;
    height: 1px;
    border: 0;
    border-top: 2px solid #0A559D;
    margin: 1em 0;
    padding: 0;
    width: 80vw;
}

#move {
    display: flex;
    justify-content: flex-end;
}